@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner-content {
  background-color: #495562;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

a {
  font-weight: bold;
}

.btn {
  border-color: #97a49b;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .btn {
    float: right;
    margin-top: 8rem;
  }
}

@media only screen and (min-width: 60em) {

  .banner {
    position: relative;
    max-height: 500px;
    overflow: hidden;
  }

  h1 {
    margin-bottom: 0;
  }

  .banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .9));
    width: 100%;
  }

  .btn {
    border-color: #efefef;
  }

  .btn:hover {
    border-color: #efefef;
    background-color: #efefef;
  }

  .banner-text {
    margin-top: 2rem;
  }
}
